body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bbc9e9; /* Light gray background */
    color: #482a2a; /* Dark text color */
}

header {
    background-color: #bbc9e9;
    color: #fff;
    padding: 10px 0;
}

.user-actions {
    position: absolute;
    top: 10px;
    right: 10px;
}

.user-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 20px;
}

.user-actions a {
    display: inline-block;
    background-color: #23527c; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px 20px;
    border-radius: 20px; /* Add round corners */
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.user-actions a:hover {
    background-color: #ff6600; /* Slightly darker blue on hover */
}

button#create-blog-button {
    background-color: #ff6600; /* Orange background color */
    color: #fff; /* White text color */
    padding: 10px 20px;
    border: none;
    border-radius: 20px; /* Add round corners */
    font-weight: bold;
    cursor: pointer; /* Show a pointer cursor on hover */
    transition: background-color 0.3s, color 0.3s;
}

button#create-blog-button:hover {
    background-color: #ff3300; /* Slightly darker orange on hover */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Align titles to the left */
    margin-bottom: 10px;
}

nav ul li {
    display: inline;
    margin-right: 70px;
    font-size: x-large;
}

nav ul li a {
    text-decoration: none;
    color: #626d77; /* Subdued blue text color */
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6600; /* Slightly darker blue on hover */
}

.logo img {
    width: 50px;
    height: 50px;
    margin-left: 70px;
    margin-top: 30px;
}

/* Hero section styles */

.blog {
    text-align: center;
    padding: 20px;
}

.blog h1 {
    font-size: 32px;
    margin: 20px 0;
    color: #23527c; /* Blue text color */
}

.blog-post1,
.blog-post2,
.blog-post3,
.blog-post4 {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.blog-post1,
.blog-post2,
.blog-post3 h2,
.blog-post4 h2 {
    font-size: 24px;
    margin: 10px 0;
    color: #333; /* Dark text color */
}

.blog-post1,
.blog-post2,
.blog-post3 p,
.blog-post4 p {
    font-size: 16px;
    margin: 10px 0;
    color: #333; /* Dark text color */
}

.bottom-box {
    background-color: #f4f4f4; /* Light gray background for the bottom box */
    color: #333; /* Dark text color */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer {
    background-color: #f4f4f4; /* Light gray background for the bottom box */
    color: #333; /* Dark text color */
    padding: 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.social-links {
    margin: 0 auto;
}

.social-links h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333; /* Dark text color for headings */
}

.social-links a {
    font-size: 18px;
    text-decoration: none;
    color: #333; /* Dark text color */
    transition: color 0.3s;
}

.social-links a:hover {
    color: #ff6600; /* Blue text color on hover */
}